<footer class="atlas-footer">
  <div class="footer-brand">
    <img src="{{basePathAssets + 'logotipos_aplicativos_svg/ud.svg'}}" alt="Universidad Distrital Francisco José de Caldas">
  </div>

  <div class="footer-office">
    Oficina Asesora de Tecnologías e Información
  </div>

  <div class="footer-item">
    <mat-icon>schedule</mat-icon>
    <div>
      <span>Lunes a viernes</span>
      <strong>8am a 5pm</strong>
    </div>
  </div>

  <div class="footer-item">
    <mat-icon>language</mat-icon>
    <div>
      <span>Sistema Integrado de</span>
      <strong>informática y Telecomunicaciones</strong>
    </div>
  </div>

  <div class="footer-item">
    <mat-icon>call</mat-icon>
    <div>
      <span>323 93 00</span>
      <strong>Ext. 1112</strong>
    </div>
  </div>

  <div class="footer-item">
    <mat-icon>location_on</mat-icon>
    <div>
      <span>Cra 8 # 40-78</span>
      <strong>Piso 1</strong>
    </div>
  </div>

  <div class="footer-item">
    <mat-icon>alternate_email</mat-icon>
    <div>
      <span>computo&#64;udistrital.edu.co</span>
    </div>
  </div>
</footer>
